.funeral-details {
  padding: 24px;
  height: 100%;
  .details-header {
    margin-bottom: 20px;
    overflow: hidden;
    height: 34px;
  }
  .local-search {
    width: 380px;
    height: 30px;
    float: right;
  }
  .details {
    display: flex;
    height: 100%;
    padding-bottom: 20px;
  }

  .funeral-details-tabs {
    height: 100%;
  }
  .funeral-details-tabpane {
    height: 100%;
  }

  .details-left {
    width: 430px!important;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: calc(100% - 8px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .detail-search-content {
    padding: 15px 25px;
  }
  .details-menu {
    border-top: 1px solid #ddd;
    width: 429px!important;
    margin-right: -1px;
    padding: 10px;

    .ivu-tree-children {
      font-size: 14px;
    }
  }
  .ios-search {
    background-color: #fff;
  }
  .details-menu {

  }

  .details-right {
    border: 1px solid #ddd;
    margin-left: 30px;
    flex: 1;
    padding: 20px;
    font-size: 16px;
    height: calc(100% - 8px);
    overflow-y: auto;
  }

  .sub-funeral-list {
    border: 1px solid #ddd;
    height: calc(100%);
    overflow-y: auto;
    border-radius: 4px;
    padding: 28px 30px;
  
    .sub-funeral-item {
      width: 190px;
      height: 250px;
      border: 1px solid #ddd;
      margin-bottom: 28px;
      text-align: center;
      overflow: hidden;

      img {
        height: 100%;
        margin: auto;
      }
    }
  }

  &.sub-details {
    .details-left,
    .details-right {
      height: calc(100% - 10px);
    }


    .details-right {
      padding: 0;
      overflow: hidden;
      border-radius: 4px;
      &:hover {
        box-shadow: 0;
      }

      .ivu-card-body {
        height: 100%;
        overflow-y: auto;
        height: calc(100% - 12px);
      }
    }
    .details-right-title {
      display: flex;
      height: 24px;
      font-weight: normal;
      .details-right-bread {
        flex: 1;
      }
      .details-right-page {
        flex: 1;
        text-align: right;
      }
      .details-right-switch {
        width: 100px;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;

        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  &.sub-details {
    height: 100%;
  
    .details-left {
      height: 100%;
      border: none;
      border-bottom: 1px solid #ddd;
    }
    .details-right {
      height: 100%;
    }

    .ivu-tabs-bar {
      margin-bottom: 0;
      .ivu-tabs-tab {
        width: 70px;
        height: 30px;
        line-height: 14px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-right: 0;
        text-align: center;
        border: 1px solid #ddd;
        border-bottom: none;
        margin-bottom: -2px;
      }
      .ivu-tabs-ink-bar {
        display: none!important;
      }
      .ivu-tabs-tab-active {
        background-color: #44b7f6;
        color: #fff;
      }
    }

    .ivu-tabs-content {
      height: 100%;
    }

    .funeral-details-tabpane {
      height: 100%;
      overflow-y: auto;
      border: 1px solid #ddd;
    }
  }
}

