<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>重置密码</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/user.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1><img src="img/logo-v1.png" alt=""></h1>
		</div>
		<div class="main w">
			<div class="form reset">
				<div class="hd">
					<img class="l" src="img/lline-v1.png" alt="">
					<h3><img src="img/reset-v1.png" alt=""></h3>
					<img class="r" src="img/rline-v1.png" alt="">
				</div>
				<div class="bd">
					<div class="item">
						<input type="text" placeholder="请输入您的注册邮箱">
					</div>
					<div class="item">
						<input type="text" placeholder="请输入您收到的验证码">
						<span class="send">点击发送验证码</span>
					</div>
					<div class="item">
						<input type="text" placeholder="请输入您的新密码">
						<span class="hidden"><img src="img/hidden.png" alt=""></span>
					</div>
					<div class="item clearfix">
						<p><span class="fl">记住账号</span><span class="fr">已有账号?&nbsp;点我<em>登录</em></span></p>
					</div>
				</div>
				<div class="btn"><img src="img/btn-v1.png" alt=""></div>
			</div>
		</div>
	</div>
</body>
</html>